@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

[data-theme="light"] {
  --background-color: beige;
  --text-color: #111;
  --hr-color: #555;
  --exp-fill: #333;
  --tag-color: #444;
  --card-shadow: rgb(0, 0, 0, 0.3);
}

[data-theme="dark"] {
  --background-color: #113;
  --text-color: white;
  --hr-color: #5f6368;
  --exp-fill: white;
  --tag-color: white;
  --card-shadow: #5f6368;
}

body {
  margin: 3.5rem auto;
  max-width: 45rem;
  font-family: "Courier New", Courier, monospace;
  animation: fadein 0.5s;
  height: fit-content;

  background-color: var(--background-color);
  color: var(--text-color);
}

/* Dark/Light Themeing  */

hr {
  border: 1px solid var(--hr-color);
}

circle {
  stroke: var(--exp-fill);
}

circle.inner, circle.tail {
  fill: var(--exp-fill);
}

#color-switch {
  position: fixed;
  top: 0.5em;
  right: 0.5em;
  text-decoration: none;

  font-size: 2em;
  text-shadow: 2px 2px 0px var(--card-shadow);
  border-radius: 100%;

  user-select: none;
  cursor: pointer;
}

#color-switch:active {
  text-shadow: 0 0 1px var(--card-shadow);
}

/* End Dark/Light Themeing */

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 1rem;
}

a {
  color: rgb(94, 149, 252);
  text-decoration: none;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*For Phones*/
@media (max-width: 680px) {
  body {
    max-width: 20rem;
  }
}

/*For Tablets*/
@media (max-width: 809px) and (min-width: 681px) {
  body {
    max-width: 31rem;
  }
}

.card {
  padding: 0.5rem;
  padding-top: 0;
  border: 1px solid #5f6368;
  margin: 1rem;
  border-radius: 5px;
  width: 17rem;
  height: fit-content;
  background: transparent;

  box-shadow: 2px 2px 0px 0px var(--card-shadow);
}

.card a {
  color: rgb(94, 149, 252);
  text-decoration: none;
}

.tag {
  border: 1px solid #5f6368;
  border-radius: 10%;
  color: var(--tag-color);
  background: none;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  font-size: 0.7rem;
  margin-top: 0.5em;
  padding: 0.2rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.collapsible {
  transition: transform 0.1s ease 0s;
  transform-origin: top;
}

.collapsible[data-collapsed="collapsed"] {
  transform: scaleY(0);
  transform-origin: top;
  max-height: 0;
}

#experience-row {
  list-style: none;
}

#experience-row > li {
  position: relative;
  margin: 0;
  padding-bottom: 1em;
  padding-left: 20px;
}

#experience-row > li:before {
  content: "";
  width: 2px;
  background-color: var(--exp-fill);
  position: absolute;
  top: 10px;
  bottom: -3px;
  left: 5px;
}

#experience-row > li.tail::before {
  content: none;
}

#experience-row > li > * {
  margin-left: 1em;
}

#experience-row > li h2 {
  margin-top: -1em;
}

#experience-row-div {
    margin-left: 2em;
    margin-bottom: -1em;
}
